<h4 class="text-success">Armure(s)</h4>
<table class="table table-bordered">
    <tr>
        <th>Nom</th>
        <th>Ca</th>
        <th>Malus</th>
    </tr>
    {% for characterArmor in characterArmors %}
        {% set armor = characterArmor.armor %}
        <tr>
            <td>
                <a href="{{ path('pathfinder_armor_show', {'id': armor.id}) }}">{{ armor.name }}</a>
            </td>
            <td>{{ armor.bonus }}</td>
            <td>{{ armor.penalty }}</td>
        </tr>
    {% endfor %}
</table>