<h4 class="text-success">Argents</h4>
<table class="table table-bordered">
    <tbody>
    <tr>
        <th>Or</th>
    </tr>
    <tr>
        <th>Or</th>
    </tr>
    <tr>
        <th>Or</th>
    </tr>
    <tr>
        <th>Or</th>
    </tr>
    <tr>
        <td>{{ character.moneyCP }}</td>
        <td>{{ character.moneySP }}</td>
        <td>{{ character.moneyGP }}</td>
        <td>{{ character.moneyPP }}</td>
    </tr>
    </tbody>
</table>
