<h4 class="text-success my-3">Compétences liées</h4>
<ul class="list-group">
    {% for skill in skills %}
        <li class="list-group-item">
            <a href="{{ path('pathfinder_skill_show', {'id':  skill.id }) }}">
                {{ skill.name }}
            </a>
        </li>
    {% endfor %}
</ul>