<h4 class="text-success my-3">Sorts</h4>
{% for level, data in spells %}
    <h5 class="text-warning"><strong>Lvl {{ level }}</strong></h5>
    <ul class="list-group">
        {% for spell in data %}
            <li class="list-group-item">
                <a href="{{ path('pathfinder_spell_show', {'id':  spell.id }) }}">
                    {{ spell.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endfor %}