{% extends '@AfmLibrePathfinder/base.html.twig' %}

{% block title %}Pathfinder{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-header">
            <h3>Classes {{ characterClasses|length }}</h3>
        </div>
        <div class="card-body">
            {% include '@AfmLibrePathfinder/class/_form_search.html.twig' %}

            <table class="table table-bordered mt-3">
                <tr>
                    <th>Nom</th>
                </tr>
                {% for characterClass in characterClasses %}
                    <tr>
                        <td>
                            <a href="{{ path('pathfinder_class_show', {'id': characterClass.id}) }}">
                                {{ characterClass.name }}
                            </a>
                        </td>
                        <td></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
