<li class="nav-item active">
    <a class="nav-link" href="{{ path('spell_index') }}">Spell <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">ok</a>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false">Paramètres</a>
    <div class="dropdown-menu" aria-labelledby="dropdown01">
        <a class="dropdown-item"
           href="">menu1</a>
        <a class="dropdown-item"
           href="">menu2</a>
    </div>
</li>
