<table class="table table-bordered">
    <tr>
        <th></th>
        <th>Total bonus</th>
        <th>Base</th>
        <th>Bonus de base</th>
        <th>Specials</th>
    </tr>
    {% for ability6 in abilities6 %}
        <tr>
            <th>{{ ability6.name }}</th>
            <td>{{ ability6.total }}</td>
            <td>{{ ability6.base }}</td>
            <td>{{ ability6.baseValueModifier }}</td>
            <td> </td>
        </tr>
    {% endfor %}
</table>