<a href="{{ path('pathfinder_spell_profile_edit', { 'uuid': spellProfile.uuid }) }}" role="button"
   class="btn btn-primary"><i
            class="far fa-edit"></i> Sélections des sorts</a>

<a href="{{ path('pathfinder_spell_profile_index', {'uuid': character.uuid}) }}" class="btn btn-primary" role='button'><i
            class="fas fa-list"></i>
    Retour à la Liste</a>

<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
    <i class="fas fa-trash"></i> Supprimer
</button>

<br/><br/>
