{% extends '@AfmLibrePathfinder/base.html.twig' %}

{% block body %}

    <ul class="list-group">
        {% for level, data in spells %}
            <li class="list-group-item"><strong>Lvl {{ level }}</strong>
                <ul class="list-group">
                    {% for spell in data %}
                        <li class="list-group-item">
                            <a href="{{ path('pathfinder_spell_show', {'id':  spell.id }) }}">{{ spell.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% else %}
            <li class="list-group-item">
                Aucun
            </li>
        {% endfor %}
    </ul>

{% endblock %}
