{% extends '@AfmLibrePathfinder/base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h3>Utilisateurs</h3>
        </div>
        <div class="card-body">
            <a href="{{ path('pathfinder_user_new') }}" class="btn btn-primary">
                <i class="fas fa-plus"></i> Ajouter un utilisateur
            </a> <br/><br/>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Roles</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.email }}</td>
                        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
